.loader {
    position: relative;
    border: 1px solid transparent;
    border-top-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin .7s linear infinite;
    position: relative;
    top: 30px;
    margin: 30px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}