.button {
    font-size: 18px;
    background-color: #2b9ed8;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
    margin: 30px auto;
    display: block;

    &:hover {
        filter: brightness(1.1);
    }

    &:active {
        filter: brightness(0.9);
    }
}