.addComment {
    margin-bottom: 20px;

    div {
        display: flex;
        align-items: center;
    }

    textarea,
    input:not([type='submit']) {
        font-size: 18px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid white;
        width: 100%;
        height: 40px;
        margin: 5px;
        text-transform: capitalize;

        &:focus {
            border-color: #2b9ed8;
        }
    }

    textarea {
        resize: none;
        height: 70px;
    }

    input[type='submit'] {
        flex-shrink: 0;
        height: 70px;
        background-color: #2b9ed8;
        border: none;
        color: white;
        font-size: 16px;
        border-radius: 5px;
        width: 100px;
        white-space: pre-wrap;
        font-weight: 600;
        margin: 5px;
        cursor: pointer;
    }
}