* {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  outline: none;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif', 'Spartan';
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &,
  .app {
    font-size: 16px;
    min-height: 100vh;
    background-color: #ebf0f6;
    color: #41464c;
  }
}

main,
header,
footer {
  max-width: 800px;
  width: calc(100vw - 40px);
  margin: auto;
}