.comment {
    display: flex;
    padding: 20px;
    background-color: white;
    margin-bottom: 7px;
    border-radius: 5px;

    img {
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        margin-right: 20px;
    }

    .name {
        color: #2b9ed8;
        font-weight: bold;
        display: block;
        text-transform: capitalize;
    }

    .email {
        font-size: 13px;
        color: #979da0;
    }

    p {
        margin-bottom: 10px;
    }
}